@charset "utf-8";
/* CSS Document */


.no-js .btn.btn-sm.dropdown-toggle {
    color: rgba(255,255,255,1.00);
    background-color: rgba(221,37,40,1.00);
}
.md-header .btn-group .btn.btn-sm {
    color: rgba(248,243,243,1.00);
}
.md-header aside .dropdown.show .btn.btn-sm.dropdown-toggle {
    color: rgba(255,252,252,1.00);
    float: left;
}
.md-header aside .dropdown.show.col-xl-2 {
    float: left;
}
.dropdown.show.col-xl-2 .dropdown-menu .dropdown-header {
    font-size: small;
}
.dropdown.show.col-xl-2 .dropdown-menu .dropdown-item {
    font-size: small;
}
.md-header aside .dropdown.show.col-xl-2 {
}
.no-js body .md-header.col-xl-10 {
    float: right;

}
.md-tabs__inner.md-grid .md-tabs__list aside {
    float: left;
    visibility: visible;
    overflow-y: visible;
}
section aside .dropdown.show.col-xl-1 {
    background-color: rgba(84,110,122,1.00);
    float: none;
    clear: none;
}
.dropdown.show.col-xl-12 .dropdown-menu .dropdown-header {
    font-size: small;
}
.dropdown.show.col-xl-12 .dropdown-menu .dropdown-item {
    font-size: small;
    color: rgba(253,252,252,1.00);
}
.md-tabs__list .md-tabs__item .md-tabs__link {
    color: rgba(255,252,252,1.00);
}
.md-flex__cell.md-flex__cell--shrink .md-header-nav__source .md-source {
    color: rgba(255,255,255,1.00);
}
.md-flex__cell.md-flex__cell--shrink .md-header-nav__button.md-logo .md-icon {
    color: rgba(255,255,255,1.00);
}
.dropdown.show.col-xl-12 .dropdown-menu .dropdown-item {
    color: rgba(0,0,0,1.00);
}
.md-nav__list .md-nav__item .md-nav__link {
    color: rgba(3,3,3,1.00);
}





aside .dropdown.show.col-xl-12 .btn.btn-sm.dropdown-toggle {


}
.md-nav__list .md-nav__item .md-nav__link {
}
aside .dropdown.show.col-xl-12 .btn.btn-sm.dropdown-toggle {




}
.md-container section aside {
}
aside .dropdown.show .dropdown.show.col-xl-12 {
}
aside .dropdown.show .dropdown.show.col-xl-12 {
}


.md-nav__list .md-nav__item .md-nav__link {
}
.dropdown.show .dropdown.show.col-xl-12 .btn.btn-sm.dropdown-toggle {

}
.btn.btn-sm.dropdown-toggle {
    font-size: smaller;
    float: left;
    clear: left;
}
.dropdown-item {
    font-size: small;
}
.dropdown.show .dropdown.show.col-xl-12 .btn.btn-sm.dropdown-toggle {
    float: left;
    clear: left;

}
code {
    background-color: rgba(196,196,196,1.00);
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}
